body {
    background-color: aliceblue;
  }

h1 {
    color: steelblue;
  }

h3 {
    color: mediumaquamarine;
  }
hr {
    border-style: none;
    border-top: dotted;
    border-color: slategrey;
    height: 0px;
    border-width: 5px;
    width: 5%;
  }
